<div class="post-container" id="<%= dom_id post %>">
  <p class="post-title">
    <strong>Titre:</strong>
    <%= post.titre %>
  </p>

  <p class="post-description">
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <div class="post-image">
    <img src="<%= post.image %>">
  </div>
</div>
