* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  background-color:#fff;
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #f3f2f2;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo img {
  width: 100%;
}

.menu a {
  font-size: 1rem;
  color: #050505;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}

.menu a:hover,
.menu .active,
.menu .create-post:hover {
  color: #767575;
}

.menu .icon {
  margin-right: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  margin-left: 19%;

}

.post {
  width: 100%;
  max-width: 600px;
  margin: 20px auto; /* Pour centrer le post horizontalement avec un espacement de 20px en haut et en bas */
  border-top: 1px solid #dbdbdb; /* Bordure grise */
  background-color: #fff;
}


.post-container {
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  padding: 8px;
}



.post-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 3px; /* Coins arrondis en haut à gauche */
  border-top-right-radius: 3px; /* Coins arrondis en haut à droite */
}

.post-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px;

}

.action {
  flex: 1;
  text-align: center;
}

.action i {
  font-size: 20px;
  color: #262626; /* Couleur des icônes */
}

.post-description {
  font-size: 14px;
  padding: 8px;
}

/* Ajoutez une marge en haut pour séparer la description des actions */
.post-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-top: 10px; /* Ajoutez cette ligne */
}


.new-post-link {
  display: block;
  width: 200px;
  margin: 20px auto;
  text-align: center;
  background-color: #3897f0; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.new-post-link:hover {
  background-color: #2683e0; /* Couleur de fond au survol */
}


.stories-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}

.stories {
  display: flex;
  align-items: center;
}

.stories-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: linear-gradient(45deg, #f3d313 20%, #c80bb1 80%); /* Dégradé de jaune à rose */
  margin-right: 10px;
}

.stories-img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  border: 2px solid transparent; /* Ajout d'une bordure transparente pour le contour */
}

.stories-img.color {
  border: none; /* Suppression de la bordure blanche pour les images sans couleur */
}


.stories-img .add {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #f3f2f2;
  background: hsla(246, 100%, 100%, 0);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.form-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-field {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 14px;
}

.form-input::placeholder {
  color: #999;
}

.form-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3897f0;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #2683e0;
}

.action i.liked {
  color: red;
}

.instagram-button {
  display: inline-block;
  background-color: #3897f0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.instagram-button:hover {
  background-color: #2683e0;
}

.instagram-button:active {
  background-color: #1e67c8;
}

/* Media query pour cibler les écrans de taille maximale de 600px (adapté pour les smartphones en mode portrait) */
@media only screen and (max-width: 600px) {


  .sidebar {
    display: none; /* Fait disparaître la sidebar */
  }

  .container {
    flex-direction: column; /* Change la direction de la disposition des éléments en colonne */
  }

  .main-content {
    width: 100%; /* Ajuste la largeur du contenu principal pour remplir l'écran */
    margin:0
  }
}
